.label {
  padding: 20px;
  width: 400px;
  background-size: auto;
}
.uploadform {
  padding: 20px;
  width: 400px;
}
.button {
  display: flex;
  justify-content: space-between;
}

.scrollable-container {
  width: 100%; 
  height: auto; 
  max-height: 70vh; 
  overflow-y: auto;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/*createtimetable */
.createtimetable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.leftdiv {
  padding: 20px;
  background-size: auto;
  background-color: rgb(223, 224, 224);
}
.rightdiv {
  padding: 20px;
  background-size: auto;
  background-color: rgb(237, 239, 237);
}

/*Dropdownstyle*/
.dropdownstyle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

/*manualtable*/
.manualtablediv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.manualtablebutton{
  display: flex;
  justify-content: right;
  gap: 20px;
}

