.label {
  padding: 20px;
  width: 400px;
  background-size: auto;
}
.uploadform {
  padding: 20px;
  width: 400px;
}
.button {
  display: flex;
  justify-content: space-between;
}

/*createtimetable */
.createtimetable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.leftdiv {
  padding: 20px;
  background-size: auto;
  background-color: rgb(223, 224, 224);
}
.rightdiv {
  padding: 20px;
  background-size: auto;
  background-color: rgb(237, 239, 237);
}

/*Dropdownstyle*/
.dropdownstyle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*manualtable*/
.manualtablediv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.manualtablebutton{
  display: flex;
  justify-content: right;
  gap: 20px;
}