body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Fallback for older browsers */
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Preferred modern style */
  appearance: none;

  /* Text size adjustment */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  /* Fallback for older browsers */
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Preferred modern style */
  appearance: none;

  /* Text size adjustment */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.element {
  appearance: none; /* Standard */
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* WebKit */

  text-align: match-parent; /* Standard */
  text-align: -webkit-match-parent; /* WebKit-specific */
}
